
* {
 margin: 0;
padding: 0;
box-sizing: border-box

}
 /* HEADER */
header {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 80px;
  width: 100%;
  list-style: none;
  position: sticky;
  top: 0;
background-color: white;
}

.padreflexheader {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

}
header ul li {
display: flex inline; 
  /* Hace que los elementos de la lista se muestren en línea, si es lo que deseas */
  margin-right: 20px;
  /* Opcional: agrega espacio entre los enlaces */
  align-items: center;
}

header a {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 420;
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

header h2 {
  color: #535350;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
  display: flex inline;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 27px;
  padding-left: 20px;
}

 /* PAGINA HOME */
.seccion1 {

  background-image: url(fotos/bolsa2.png);
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 100vh;
  /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;


}

.seccion1 a {

  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  background-color: #806b5a;
  background-size: contain;
  padding: 10px 20px;
  /* Aumenta el espacio dentro del botón */
  margin: 20px;

}

.seccion1 p {

  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  margin: 5px;

}


.H1primero {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px;

}

.seccion2 {
display: flex;
flex-direction: row;
height: auto;
}

.jean {
justify-content: flex-start;
width: 50%;
}

.bar {
  justify-content: flex-end;
  width: 50%;
}

.seccion31 {
 background-image: url(fotos/story5.jpg);
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 40vh;
  /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.seccion31 h1 {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2.5em;
  display: flex;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
  color: white;
  /* Para el texto sobre el fondo */
  text-transform: uppercase;
  margin: 10px;

}

.seccion31 p {

  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 375;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;


}

.seccion3 {

  background-image: url(fotos/IMG_1317.jpeg);
  /* Aquí va la imagen de fondo */
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 80vh;
  /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  

}

.play {
  max-width: 40vw;  /* El tamaño máximo del ícono es el 10% del ancho de la ventana */
  max-height: 40vw;  /* El tamaño máximo del ícono es el 10% del ancho de la ventana */
  width: auto;
  height: auto;
}

.seccion4 {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb
 
}

.texto4{
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-left: 150px;
padding-top: 90px;
padding-bottom: 90px;
margin-right: 150px;
margin-bottom: 20px;
}

.seccion4 h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: 2.5em;
  letter-spacing: 1.5px;
  color: #848061;
  text-transform: uppercase;

}

.seccion4 p {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.7px;
  line-height: 2;

}

.image-container {
  width: 50%; /* Establece un contenedor específico para la imagen */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;  /* Asegura que la imagen cubra el contenedor sin deformarse */
}

.seccion4 .menu-button {
  display: inline-block;
  background-color: #848061;
  color: white;
  padding: 8px 16px; 
  text-decoration: none;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  flex: 0 0 auto; 
  padding: 8px 16px;
  max-width: fit-content;
}

.seccion5 {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
}

.columna5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 150px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-right: 150px;
  margin-bottom: 20px;

}

.seccion5 h1 {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2.5em;
  display: flex;
  letter-spacing: 1.5px;
  align-items: center;
  color:  #848061;
  text-transform: uppercase;

}

.seccion5 p {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.7px;
  line-height: 2;
}

.imagen-container2 {
  width: 197%; /* Establece un contenedor específico para la imagen */
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.seccion5 .image2 {
  width: 100%;
  height: 500px;
  object-fit: cover; 
}
.seccion5 .menu-button {

  display: inline-block;
  background-color: #848061;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  flex: 0 0 auto; 
  padding: 8px 16px;
  max-width: fit-content; 
}

 /* FOOTER */ 
footer {
  background-color: #f9fafb;
  height: 50vh;
  color: #535350;
  
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding-top: 90px;
}

.footer-info {
display: flex;
flex-direction: column;
padding-left: 150px;

}
.footer-hours {
  display: flex;
flex-direction: column;
padding-left: 400px;
}

footer h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 480;
  font-style: normal;
  letter-spacing: 1px;
}

footer p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

footer p strong {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  letter-spacing: 2px;
  font-style: normal;
  color: #848061;
}

.menu-button {
  display: inline-block;
  background-color: #848061;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  flex: 0 0 auto; 
  padding: 8px 16px;
  max-width: fit-content; 

}


 /* PAGINA MENU */

.seccionM1 {

  background-image: url(fotos/drink.jpg);
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 75vh;
  /* Ocupa el 100% de la altura de la ventana */
  margin-bottom: 60px;

}

.seccionM1 p {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}


.seccionM1 h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color: #333333;

}

.card {
margin: 0px 20px;
}

.card-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 1.3em;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #8c5d25;
  text-transform: uppercase;
}

.card-text {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 2;
  font-weight: 400;
  justify-content: center;
  text-align: center;

}
 
 /* PAGINA GUIDE */

.gridfotos {
  display: grid;
  grid-template-areas: 
    "img1 img2 img3"
    "img1 img4 img5";

  grid-template-columns: minmax(200px, 2fr) minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;

  width: 100vw;
  max-width: 1400px;

  justify-content: center;
  justify-items: center;
  align-items: stretch;
  margin: 0 auto;        /* para centrar el grid en la pantalla */
  padding: 0 70px;  

}

.gridfotos img {
  width: 100%;
  height: auto;
  max-height: 1400px;
  object-fit: cover;

}

.img1 { grid-area: img1;  align-self: start;}
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }




.email {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2.8em;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  color: #333333;

}

:placeholder-shown {

  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;

}

.submit {

  display: inline-block;
  background-color: #AB886D;
  ;
  /* Naranja */
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.7px;

}


.steps h2 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  color: #333333;
  /* Para el texto sobre el fondo */

}

.steps p {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

@media (max-width:500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    position: sticky;
  top: 0;
  
  }
  .padreflexheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: flex-end;
}
header a {
  justify-content: center;
  font-size: 0.7em;
}
header h2 {
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 520;
  padding-top: 10px;
}
.seccion1 {
  height: 30vh;
  
}
.H1primero {
  font-size: 2.4em;
  display: flex;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  color: white;

}
.seccion1 p {
  font-size: 0.7em;
  margin: 2px;
}

.seccion1 a {
  font-size: 0.3em;
  background-color: #AB886D;
  background-size: contain;
  padding: 4px 8px;
  /* Aumenta el espacio dentro del botón */
  margin: 20px;
  letter-spacing: 1px;

}
.seccion2 {
  height: 30vh;
}
.seccion2 h1 {
  font-size: 0.9em;
  margin-top: 1px;
  font-weight: 480;
}
.titulo2 {
  padding-top: 30px;
}

.tacitas {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  margin-top: 151px;     /* pega al fondo */
  text-align: center;
gap: 23px;
font-size: 0.3em;
}
.textotitulo2 {
  display: none;
}

.seccion31 {
  height: 20vh;
  /* Ocupa el 100% de la altura de la ventana */

}

.seccion31 h1 {
  font-size: 1.7em;
}
.seccion31 p {
  font-size: 0.5em;

}
.seccion3 {
height: 30vh;
}

.seccion4 {
  display: flex;
  flex-direction: column;
}

.texto4{
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: center;

  }
  .seccion4 h1 {
    font-size: 1.2em;
  }
  .seccion4 p {
    font-size: 0.5em;
    letter-spacing: 0.7px;
    line-height: 2;
    font-weight: 350;
  }

  .seccion4 .menu-button {
    font-size: 0.5em; /* reduce el tamaño de la fuente */
    margin-top: 3px;
    padding: 4px 8px;
    max-width: fit-content; /* ajusta al contenido */
    border-radius: 0%;
  }
  .image-container {
    width: 100%; /* Establece un contenedor específico para la imagen */
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .image {
    height: 30vh;
    object-fit: cover;  /* Asegura que la imagen cubra el contenedor sin deformarse */
  }
  .columna5 {
    display: none;
  
  }

  .seccion5 .image2 {
    width: 100%;
    height: 30vh;
    object-fit: cover; 
  }

footer {
  height: 20vh;
  letter-spacing: 0.5px;

}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding-top: 20px
  
}
.footer-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;

  }
  .footer-hours {
    display: flex;
  flex-direction: column;
  padding-left: 10px;
  }
  footer h3 {
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  footer p {
    font-size: 0.7em;
    line-height: 1.5;

  }

  footer p strong {
    letter-spacing: 1px;
    line-height: 1;
    
  }
  .menu-button {
    display: none;
  }
  .addressfooter {
    display: none;
  }
}

