
* {
 margin: 0;
padding: 0;
box-sizing: border-box

}
 /* HEADER */
header {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 80px;
  width: 100%;
  list-style: none;
  position: sticky;
  top: 0;
background-color: white;
}

.padreflexheader {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;

}
header ul li {
display: flex inline; 
  /* Hace que los elementos de la lista se muestren en línea, si es lo que deseas */
  margin-right: 20px;
  /* Opcional: agrega espacio entre los enlaces */
  align-items: center;
}

header a {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 420;
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

header h2 {
  color: #535350;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
  display: flex inline;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 27px;
  padding-left: 20px;
}

 /* PAGINA HOME */
.seccion1 {

  background-image: url(fotos/bolsa2.png);
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 100vh;
  /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;


}

.seccion1 a {

  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  background-color: #806b5a;
  background-size: contain;
  padding: 10px 20px;
  /* Aumenta el espacio dentro del botón */
  margin: 20px;

}

.seccion1 p {

  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  margin: 5px;

}


.H1primero {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px;

}

.seccion2 {
display: flex;
flex-direction: row;
height: auto;
}

.jean {
justify-content: flex-start;
width: 50%;
}

.bar {
  justify-content: flex-end;
  width: 50%;
}

.seccion31 {
 background-image: url(fotos/story5.jpg);
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 40vh;
  /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.seccion31 h1 {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2.5em;
  display: flex;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
  color: white;
  /* Para el texto sobre el fondo */
  text-transform: uppercase;
  margin: 10px;

}

.seccion31 p {

  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 375;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;


}

.seccion3 {

  background-image: url(fotos/IMG_1317.jpeg);
  /* Aquí va la imagen de fondo */
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 80vh;
  /* Ocupa el 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  

}

.play {
  max-width: 40vw;  /* El tamaño máximo del ícono es el 10% del ancho de la ventana */
  max-height: 40vw;  /* El tamaño máximo del ícono es el 10% del ancho de la ventana */
  width: auto;
  height: auto;
}

.seccion4 {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb
 
}

.texto4{
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-left: 150px;
padding-top: 90px;
padding-bottom: 90px;
margin-right: 150px;
margin-bottom: 20px;
}

.seccion4 h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: 2.5em;
  letter-spacing: 1.5px;
  color: #848061;
  text-transform: uppercase;

}

.seccion4 p {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.7px;
  line-height: 2;

}

.image-container {
  width: 50%; /* Establece un contenedor específico para la imagen */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;  /* Asegura que la imagen cubra el contenedor sin deformarse */
}

.seccion4 .menu-button {
  display: inline-block;
  background-color: #848061;
  color: white;
  padding: 8px 16px; 
  text-decoration: none;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  flex: 0 0 auto; 
  padding: 8px 16px;
  max-width: fit-content;
}

.seccion5 {
  display: flex;
  justify-content: space-between;
  background-color: #f9fafb;
}

.columna5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 150px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-right: 150px;
  margin-bottom: 20px;

}

.seccion5 h1 {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2.5em;
  display: flex;
  letter-spacing: 1.5px;
  align-items: center;
  color:  #848061;
  text-transform: uppercase;

}

.seccion5 p {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.7px;
  line-height: 2;
}

.imagen-container2 {
  width: 197%; /* Establece un contenedor específico para la imagen */
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.seccion5 .image2 {
  width: 100%;
  height: 500px;
  object-fit: cover; 
}
.seccion5 .menu-button {

  display: inline-block;
  background-color: #848061;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  flex: 0 0 auto; 
  padding: 8px 16px;
  max-width: fit-content; 
}

 /* FOOTER */ 
footer {
  background-color: #f9fafb;
  height: 50vh;
  color: #535350;
  
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding-top: 90px;
}

.footer-info {
display: flex;
flex-direction: column;
padding-left: 150px;

}
.footer-hours {
  display: flex;
flex-direction: column;
padding-left: 400px;
}

footer h3 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 480;
  font-style: normal;
  letter-spacing: 1px;
}

footer p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

footer p strong {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  letter-spacing: 2px;
  font-style: normal;
  color: #848061;
}

.menu-button {
  display: inline-block;
  background-color: #848061;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em; 
  transition: background-color 0.3s ease;
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.7px;
  flex: 0 0 auto; 
  padding: 8px 16px;
  max-width: fit-content; 

}


 /* PAGINA MENU */

.seccionM1 {

background-color: #f1f0ed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

.seccionM1 p {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.seccionM1 h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color: #a2998e;
  text-align: center;

}


.card-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 1.3em;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #8c5d25;
  text-transform: uppercase;
}


.card-text {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;
  justify-content: center;
  text-align: center;

}

.seccionM2 {

  background-color: #f1f0ed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .seccionM2 p {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  
  .seccionM2 h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 5em;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    color: #a2998e;
    text-align: center;
  }

 /* PAGINA GUIDE */
 
 .production {
  background-color: #f1f0ed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 }

 .production h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color: #a2998e;
  text-align: center;
 }

 .production p {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
  justify-content: center;
  align-items: center;
 }

.todointro {
  display: flex;
  flex-direction: column;
  align-items: center;

}

 .introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 .introduction h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 1px;
  color:  #8c5d25;
  text-transform: uppercase;
  margin-top: 30px;

 }

 .introduction p {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8em; 
  padding-bottom: 15px;
  line-height: 2;
 }

 .intro {
  padding-right: 200px;
 }

 .intro2 {
padding-top: 0px;
 }
 .willneed {
padding-right: 100px;;

 }

.todointro img {
  height: auto;
  width: 120vh;
  margin-bottom: 40px;

}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .steps h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2em;
  color: #a2998e;
 padding-top: 40px;
 padding-bottom: 15px;

 }

 .steps p{
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8em; 
  padding-bottom: 15px;
  padding-top: 15px;
  line-height: 2;
 }

 .steps img {
  height: auto;
  width: 120vh;
  margin-bottom: 40px;
 
 }

 /* PAGINA ABOUT */

 .about1 {
  background-color: #f1f0ed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 }

 .about1 h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color: #a2998e;
  text-align: center;
 }

 .about1 p{
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
  justify-content: center;
  align-items: center;
 }

.col a {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #535350;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

 /* PAGINA CONTACT */

 .seccionC1 {
  background-color: #f1f0ed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 }

 .seccionC1 h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  color: #a2998e;
  text-align: center;
 }

 .seccionC1 p {
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
  justify-content: center;
  align-items: center;
 }

 .seccionC2 {

  background-image: url(fotos/1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
  height: 60vh;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.primerafila {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.name {
height: 5vh;
width: 30vh;
}

.adress {
  height: 5vh;
  width: 30vh;
}

.requirements {
  height: 15vh;
  width: 62.5vh;
  margin-top: 20px;
  margin-left: 80px;

}
.email {

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 2.4em;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  color: #535350;
  margin-left: 80px;
  padding-top: 70px;
}


:placeholder-shown {

  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  padding: 10px;

}

.submit {

  display: inline-block;
  background-color: #806b5a;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 0.8em;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  border-radius: 0%;
  margin-left: 535px;
  margin-bottom: 30px;

}

.maps { 
  height: 60vh;
  width: 100%;
} 

@media (max-width:500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    position: sticky;
  top: 0;
  
  }
  .padreflexheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: flex-end;
}
header a {
  justify-content: center;
  font-size: 0.8em;
}
header h2 {
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 520;
  padding-top: 10px;
}
.seccion1 {
  height: 35vh;
  
}
.H1primero {
  font-size: 2.4em;
  display: flex;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  color: white;

}
.seccion1 p {
  font-size: 0.7em;
  margin: 2px;
}

.seccion1 a {
  font-size: 0.3em;
  background-color: #AB886D;
  background-size: contain;
  padding: 4px 8px;

  margin: 20px;
  letter-spacing: 1px;

}
.seccion2 {
  height: 30vh;
}
.seccion2 h1 {
  font-size: 0.9em;
  margin-top: 1px;
  font-weight: 480;
}
.titulo2 {
  padding-top: 30px;
}

.tacitas {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  margin-top: 151px;    
  text-align: center;
gap: 23px;
font-size: 0.3em;
}
.textotitulo2 {
  display: none;
}

.seccion31 {
  height: 22vh;
  

}

.seccion31 h1 {
  font-size: 1.7em;
}
.seccion31 p {
  font-size: 0.5em;

}
.seccion3 {
height: 35vh;
}

.seccion4 {
  display: flex;
  flex-direction: column;
}

.texto4{
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: center;

  }
  .seccion4 h1 {
    font-size: 1.2em;
  }
  .seccion4 p {
    font-size: 0.5em;
    letter-spacing: 0.7px;
    line-height: 2;
    font-weight: 350;
  }

  .seccion4 .menu-button {
    font-size: 0.5em; 
    margin-top: 3px;
    padding: 4px 8px;
    max-width: fit-content; 
    border-radius: 0%;
  }
  .image-container {
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  .image {
    height: 30vh;
    object-fit: cover; 
  }
  .columna5 {
    display: none;
  
  }
  .seccion5 .image2 {
    width: 100%;
    height: 30vh;
    object-fit: cover; 
  }
   /* FOOTER */ 

footer {
  height: 30vh;
  letter-spacing: 0.5px;

}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px
  
}
.footer-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  }
  .footer-hours {
    display: none;
  }
  footer h3 {
    font-size: 0.9em;
    letter-spacing: 1px;
  }
  footer p {
    font-size: 0.7em;
    line-height: 1.5;

  }
  footer p strong {
    letter-spacing: 1px;
    line-height: 1;
    
  }
 /* PAGINA MENU */

 .seccionM1 {
  height: 20vh;
 }

.seccionM1 p {
  font-size: 0.7em;
}

.seccionM1 h1 {
  font-size: 3em;
}

.seccionM2 {
  height: 20vh;
}
.seccionM2 p {
  font-size: 0.7em;
}

.seccionM2 h1 {
  font-size: 3em;
}

 /* PAGINA GUIDE */
 .production {
  height: 20vh;
 }

.production p {
  font-size: 0.7em;
}
.production h1 {
  font-size: 3em;
}

.introduction {
  display: flex;
  flex-direction: column;
 }
.introduction h3 {
  font-size: 0.9em; 
  margin-top: 0px;
}
.introduction p {
  font-size: 0.7em;
  padding-bottom: 0px;
}

.intro2 {
  display: none;
}

.intro {
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.willneed {
  padding-right: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
   }
  
.brew {
  padding-left: 10px;
  padding-bottom: 10px;
}

.todointro img {
  height: 25vh;
  width: 40vh;
  margin-bottom: 40px;

}
.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps h2 {
  font-size: 1em;
  color: #a2998e;
 padding-top: 20px;
 padding-bottom: 5px;
 padding-left: 10px;
 }

 .steps p{
  font-size: 0.6em; 
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 5px;

 }

 .steps img {
  height: 25vh;
  width: 40vh;
  margin-bottom: 20px;
 margin-left: 10px;
 margin-right: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 
 }

 .about1 {
  height: 20vh;
 }

.about1 p {
  font-size: 0.7em;
}

.about1 h1 {
  font-size: 3em;
}
.seccionC1 {
  height: 20vh;
 }

.seccionC1 p {
  font-size: 0.7em;
}

.seccionC1 h1 {
  font-size: 3em;
}

.seccionC2 {

  background-image: url(fotos/IMG_1307.jpeg) ;
  background-size: cover;
  /* La imagen cubre todo el fondo */
  background-position: center center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* No repite la imagen */
  height: 32vh;
}
.email {
  font-size: 1.5em;
  margin-left: 60px;
  padding-top: 45px;
}
.formulario {
  margin-left: 60px;
}
.name {
  height: 2vh;
  width: 15vh;
  }
.adress {
  height: 2vh;
  width: 15vh;
}

.requirements {
  height: 10vh;
  width: 32vh;
  margin-top: 10px;
  margin-left: 60px;
}
.submit {
  padding: 5px 10px;
  font-size: 0.6em;
  margin-top: 10px;
  margin-left: 300px;
  margin-bottom: 15px;
}
.maps { 
  height: 30vh;
  width: 100%;
} 

}

